/* 
.box1 {
    width: 100px;
    height: 100px;
    background-color: rgb(100, 171, 147);
    display: flex;
  }
  .box2 {
    width: 100px;
    height: 100px;
    background-color: gray;
    display: flex;
  }
  .box3 {
    width: 100px;
    height: 100px;
    background-color: rgb(224, 108, 224);
    display: flex;
  }
  .box4 {
    width: 100px;
    height: 100px;
    background-color: rgb(228, 97, 97);
    display: flex;
  }
  .container{
    display: flex;
  }
  .left{
    display: flex;
  }
  .left_bottom{
    display: flex;
  }

  @media screen and (max-width: 800px) {
    .abc {
        display: flex;
      }
      
      .container1 {
        width: 500px;
        height: 200px;
        background-color: aqua;
      }
      
      .container {
        width: 600px;
        height: 600px;
        background-color: antiquewhite;
        display: flex;
      }
      
      .left {
        width: 200px;
        height: 200px;
      }
      
      .box1 {
        width: 200px;
        height: 100px;
        background-color: rgb(100, 171, 147);
      }
      
      .left_bottom {
        width: 200px;
        height: 100px;
        display: flex;
      }
      
      .left_bottom .box2 {
        width: 100px;
        height: 100px;
        background-color: rgb(186, 115, 115);
      }
      
      .left_bottom .box3 {
        width: 100px;
        height: 100px;
        background-color: gray;
      }
      
      .right {
        width: 100px;
        height: 200px;
        background-color: pink;
      }
    }    */
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
      }
    .container{
        display: flex;
    }
    .container2{
        display: flex;
    }
    .box1{
        display: flex;
    }
    .box2{
        display: flex;
    }
    @media screen and (max-width: 1000) {
        .container{
            width: 100%;
        }
        .container2{
            display: flex;
        }
        .box1{display: flex;}
        .box2{display: flex;}
    }
